* {
   -fx-text: #ffb4a2;
   -fx-hint: #e5989b;
   -fx-accent: #b5838d;
   -fx-background: #6d6875;
}

.root {
    -fx-font-size: 16px;
    -fx-font-family: "Agency FB";
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: -fx-text;
    -fx-border-color:  -fx-accent;
    -fx-background-color: -fx-accent;
    -fx-border-radius: 10;
        -fx-font-weight: bold;
    -fx-padding: 6  6  6  6;
}

.text-field{
    -fx-text-fill: -fx-text;
    -fx-faint-focus-color: -fx-hint;
        -fx-font-weight: bold;
    -fx-prompt-text-fill: -fx-hint;
    -fx-background-color: -fx-accent, -fx-accent, -fx-accent;
    -fx-border-radius: 10;
    -fx-padding: 6  6  6  6;
}

.chart-line-symbol {
    -fx-background-color: -fx-hint, -fx-text;
}

.chart {
    -fx-padding: 5px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;
}

.chart-series-line {
    -fx-stroke: -fx-text;
    -fx-stroke-width: 4px;
}
.default-color0.chart-line-symbol { -fx-background-color: -fx-hint, -fx-hint; }
.default-color0.chart-series-line { -fx-stroke: -fx-hint; }

#outputAnchorPane{
    -fx-background-color: -fx-background;
}

#inputAnchorPane{
    -fx-background-color: -fx-background;
}

#PutHere{
    -fx-background-color: -fx-background;
}

#border{
    -fx-background-color: -fx-background;
}