* {
   -fx-base1: #c78a44;
   -fx-base2: #d8b26e;
   -fx-base3: #dad5d2;
   -fx-base4: #b4c1c5;
   -fx-base5: #5f7782;
}

.button {
    -fx-text-fill: -fx-base1;
    -fx-border-color:  -fx-base2;
    -fx-background-color: -fx-base2;
    -fx-border-radius: 0;
    -fx-padding: 6  6  6  6;
}

.text-field{
    -fx-text-fill: -fx-base1;
    -fx-focus-color: red;
    -fx-faint-focus-color: #ff000022;
    -fx-prompt-text-fill: -fx-base1;
    -fx-background-color: -fx-base2, -fx-base2, -fx-base2;
    -fx-padding: 6  6  6  6;
}

Text{
    -fx-text-fill: -fx-base1;
    -fx-prompt-text-fill: -fx-base1;
    -fx-background-color: -fx-base2;
    -fx-padding: 6  6  6  6;
}

#outputAnchorPane{
    -fx-background-color: -fx-base5;
}


#inputAnchorPane{
    -fx-background-color: -fx-base5;
}

#PutHere{
    -fx-background-color: #B5B8AA;
}

#border{
    -fx-background-color: #B5B8AA;
}